<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Product" type="org.mybatis.spring.model.Product"/>
		<typeAlias alias="Category" type="org.mybatis.spring.model.Category"/>
	</typeAliases>
</configuration>